<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LeeGallery</title>
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <script src="{% static 'login/js/jQuery.js' %}"></script>
    <script>
        $().ready(function () {
            $(".googlebtn").click(function () {
                alert("Unsupported Sign Up Type");
            })
        })


    </script>
</head>
<body>
<!--navbar-->
<div class="navbar">
    <div class="logo">
        <a href="/">

            <div class="logoimg">
                <!--<img src="img/logo.png" alt="">-->
                <canvas id="logoCanvas" width="50" height="50"></canvas>
                <script>
                    const canvas = document.getElementById('logoCanvas');
                    const ctx = canvas.getContext('2d');

                    // Load the logo image
                    const logoImg = new Image();
                    logoImg.src = '{% static 'login/img/logo.png' %}'; // Replace 'your_logo.png' with your logo file path

                    // Function to draw the logo
                    function drawLogo() {
                        ctx.clearRect(0, 0, canvas.width, canvas.height);

                        // Draw the background
                        ctx.fillStyle = '#059377';
                        ctx.fillRect(0, 0, canvas.width, canvas.height);

                        // Draw the logo image
                        ctx.drawImage(logoImg, 0, 0, canvas.width, canvas.height);
                    }

                    // Function to animate the logo with ripples
                    function animateLogo() {
                        let radius = 0;
                        const maxRadius = Math.sqrt(Math.pow(canvas.width / 2, 2) + Math.pow(canvas.height / 2, 2));
                        const animationSpeed = 1;

                        function drawFrame() {
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            drawLogo();

                            // Draw ripples
                            ctx.beginPath();
                            ctx.arc(canvas.width / 2, canvas.height / 2, radius, 0, Math.PI * 2);
                            ctx.strokeStyle = 'rgba(255, 255, 255, ' + (1 - radius / maxRadius) + ')';
                            ctx.lineWidth = 2;
                            ctx.stroke();

                            radius += animationSpeed;
                            if (radius > maxRadius) {
                                radius = 0;
                            }

                            requestAnimationFrame(drawFrame);
                        }

                        drawFrame();
                    }

                    // Start the animation
                    animateLogo();
                </script>
            </div>
            <h1>Leelib</h1>

        </a>
    </div>
    <a href="{% url 'login' %}">
        <button class="loginbtn">Login</button>
    </a>
</div>

<!--主页面-->
<div class="mainpage">
    <div class="mainleft">
        <div class="content">
            <h1>Join with us</h1>
            <p class="stitle">Download plenty of free books on Leelib.</p>
            <div class="googlebtn">
                <img src="../../static/login/img/google.png" width="27" height="27" alt="">
                <p>Join with Google</p>
            </div>

            <p class="mainleftalert">Or, sign up with your email</p>
            <form action="/register/" method="post">
                {% csrf_token %}
                <div class="name">
                    <div class="firstname">
                        <p class="infofront">First name</p>
                        <input type="text" class="ifnull" id="fname" name="first_name" required>
                    </div>
                    <div class="lastname">
                        <p class="infofront">Last name</p>
                        <input type="text" class="ifnull" id="lname" name="last_name" required></div>
                </div>
                <p class="infofront">Email</p>
                <input type="text" class="otherinput ifnull" id="email" name="email" required>
                <p class="infofront">Password</p>
                <input type="password" class="otherinput ifnull" id="psw" name="password1" required>
                <p class="infofront">Check Password</p>
                <input type="password" class="otherinput ifnull" id="psw" name="password2" required>
                <input type="submit" id="infosub" value="Create an Account">

            </form>
            <div class="warn">{{ err }}</div>
            <p class="undersub">&copy Copyright 2120228 李天悦 2024</p>
        </div>
    </div>


    <div class="mainright">
        <div class="rightcontent">
            <div class="colu col1">
                <div class="coluimg"><img src="../../static/login/img/eg1.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg2.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg3.jpg" alt=""></div>
            </div>
            <div class="colu col2">
                <div class="coluimg"><img src="../../static/login/img/eg4.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg5.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg6.jpg" alt=""></div>
            </div>
            <div class="colu col2">
                <div class="coluimg"><img src="../../static/login/img/eg7.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg8.jpg" alt=""></div>
                <div class="coluimg"><img src="../../static/login/img/eg9.jpg" alt=""></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>