*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei" !important;
}

/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: .5px solid #f3f3f3;
}
.logoimg{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.logoimg img{
    width: 100%;
    height: 100%;
}
.logo h1{
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: 5;
    margin-left: 5px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.logo *{
    text-decoration: none;
}

.logo   .logoimg, .logo   h1 {
    display: inline-block;
    vertical-align: middle; /* 垂直居中对齐 */
}

.loginbtn{
    background: #059377;
    border: none;
    height: 50px;
    color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover{
    background: #05725a;
}


/*left*/
.mainpage{
    display: flex;
    justify-content: space-between;
}
.mainleft{
    width: 50%;
    padding: 30px 0;
}
.content{
    width: 80%;
    margin: 0 auto;
}
.mainleft h1{
    font-size: 50px;
    text-align: center;
}
.stitle{
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
}
.googlebtn{
    border: 1px solid #d3d3d3;
    text-align: center;
    border-radius: 5px;
    margin: 25px 0;
    transition: 0.2s;
}
.googlebtn img{
    margin-right: 5px;
    vertical-align: middle;
}
.googlebtn p{
    font-size: 20px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
}

.googlebtn:hover{
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #000;
    transition: 0.2s;
}

.mainleftalert{
    text-align: center;
    color: #757575;
    margin-bottom: 25px;

}

.name{
    display: flex;
    justify-content: space-between;
}
.firstname,.lastname{
    width: 48.5%;
}

.infofront{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
    color: #595959;
}

.firstname input,.lastname input,.otherinput{
    width: 100%;
    font-size: 20px;
    padding: 10px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

#infosub{
    width: 100%;
    font-size: 15px;
    padding: 13px 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    background: #059377;
    color: #fff;
    cursor: pointer;
}

#infosub:hover{
    background: #05725a;
}

.undersub{
    text-align: center;
    font-size: 13px;
    color: #595959;
}
.warn{
    color: red;
    font-size: 16px;
    margin-bottom: 25px;
    height: 20px;
    line-height: 20px;
}


/*right*/

.mainright{
    width: 50%;
    overflow: hidden;
    height: calc(100vh - 92px);
}

.rightcontent{
    width: 120%;
    display: flex;
    justify-content: space-between;
}
.colu{
    width: 32%;
}
.coluimg{
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 10px;
    aspect-ratio: 3 / 5;
}
.coluimg img{
    height: 100%;
}
.col1{
    position: relative;
    top: -300px;
}
.col2{
    position: relative;
    top: -500px;
}

@media (max-width: 767px)  {
    .mainright{
        display: none!important;
    }
    .mainleft{
        width: 90%;
        margin: 0 auto;
    }
    .content{
        width: 95%;
    }
}