{% extends 'base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
    <div class="admin-admin-wrapper">

        {% with 'users' as active_page %}
            {% include 'admin/admin_sidebar.html' %}
        {% endwith %}

        <main class="admin-main-content">

            <div class="admin-content-header">
                <h1>Users Management {% if not user.is_superuser %}
                    <span style="color: #dc3545;">No Permission</span>{% endif %}</h1>

                <button class="admin-btn admin-btn-primary" id="add_tag">Add New User</button>

            </div>

            <form class="admin-search-container" action="" method="get">
                <input type="text" placeholder="Search by name, email" name="q"
                       {% if query %}value="{{ query }}" {% endif %}>
                <button class="admin-btn admin-btn-primary">Search</button>
            </form>
        
            <div class="admin-book-list">

                <div class="admin-user-list-header">
                    <div>

                        <a href="{% url 'admin_user' %}?sort={% if sort_by == 'id' %}-{% endif %}id&q={{ query }}">
                            ID

                            {% if not sort_by == '-id' %}
                                <span class="sort-icon">▲</span> {% elif sort_by == '-id' %}
                                <span class="sort-icon">▼</span> {% endif %}
                        </a>

                    </div>
                    <div>Name</div>
                    <div>Email</div>
                    <div>Active</div>
                    <div>

                        <a href="{% url 'admin_user' %}?sort={% if sort_by == 'is_staff' %}-{% endif %}is_staff&q={{ query }}">
                            Staff

                            {% if not sort_by == '-is_staff' %}
                                <span class="sort-icon">▲</span> {% elif sort_by == '-is_staff' %}
                                <span class="sort-icon">▼</span> {% endif %}
                        </a>

                    </div>
                    <div>
                        <a href="{% url 'admin_user' %}?sort={% if sort_by == 'is_superuser' %}-{% endif %}is_superuser&q={{ query }}">
                            Superuser

                            {% if not sort_by == '-is_superuser' %}
                                <span class="sort-icon">▲</span> {% elif sort_by == '-is_superuser' %}
                                <span class="sort-icon">▼</span> {% endif %}
                        </a>
                    </div>
                    <div class="admin-actions">Actions</div>
                </div>


                {% for user in page_obj %}


                    <div class="admin-user-list-item">
                        <div data-label="id">{{ user.id }}</div>
                        <div><span data-label="fname">{{ user.first_name }}</span> <span
                                data-label="lname">{{ user.last_name }}</span></div>
                        <input type="hidden" value="{{ user.last_login }}" data-label="lastlogin">
                        <div data-label="email">{{ user.email }}</div>
                        <div data-label="">
                            {% if user.is_active %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        <div data-label="staff">
                            <input type="hidden" value="{{ user.is_staff }}">
                            {% if user.is_staff %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        <div data-label="superuser">
                            <input type="hidden" value="{{ user.is_superuser }}">
                            {% if user.is_superuser %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </div>
                        <div class="admin-actions">
                            <form method="post" action="{% url 'admin_user_active' %}" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" value="{{ user.id }}" name="id">
                                <button class="admin-btn admin-btn-active" type="submit"
                                        onclick="return confirm('Confirm this action. This action cannot be undone!');">
                                    {% if user.is_active %}Deactivate{% else %}Activate{% endif %}
                                </button>
                            </form>
                            <a class="admin-btn admin-btn-edit">Edit</a>
                            <form method="POST"
                                  action="{% url 'admin_user_delete' %}"
                                  style="display: inline;">

                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <button type="submit"
                                        class="admin-btn admin-btn-danger"

                                        onclick="return confirm('Are you sure you want to delete the User {{ book.title }}? This action cannot be undone!');">

                                    Delete

                                </button>


                            </form>
                        </div>
                    </div>
                {% empty %}
                    <p>No content.</p>

                {% endfor %}


                <nav class="admin-pagination">

                    {% if page_obj.has_previous %}
                        <a href="?sort={{ sort_by }}&page={{ page_obj.previous_page_number }}&q={{ query }}">Previous</a>
                    {% else %}
                        <a href="#" class="admin-disabled" onclick="return false;">Previous</a>
                    {% endif %}

                    {% for i in page_obj.paginator.get_elided_page_range %}

                        {% if i == page_obj.paginator.ELLIPSIS %}
                            <span>...</span>

                        {% elif i == page_obj.number %}
                            <a href="#" class="admin-active">{{ i }}</a>

                        {% else %}
                            <a href="?sort={{ sort_by }}&page={{ i }}&q={{ query }}">{{ i }}</a>

                        {% endif %}

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?sort={{ sort_by }}&page={{ page_obj.next_page_number }}&q={{ query }}">Next</a>
                    {% else %}
                        <a href="#" class="admin-disabled" onclick="return false;">Next</a>
                    {% endif %}
                </nav>
            </div>
        </main>
    </div>

    <div id="tagadd-overlay" {% if messages %}style="display: flex"{% endif %}>
        <div class="progress-box-user">
            <form action="{% url 'admin_user_add' %}" method="post">
                {% csrf_token %}
                <ul class="info-list">
                    <li>
                        <span class="info-label">First Name</span>
                        <input type="text" class="info-value" name="first_name">
                    </li>
                    <li>
                        <span class="info-label">Last Name</span>
                        <input type="text" class="info-value" name="last_name">
                    </li>
                    <li>
                        <span class="info-label">Email</span>
                        <input type="text" class="info-value" name="email">
                    </li>

                    <li>
                        <span class="info-label">Staff</span>
                        <input type="checkbox" style="line-height: 39px; cursor: pointer;" name="staff">
                    </li>
                    <li>
                        <span class="info-label">Super User</span>
                        <input type="checkbox" style="line-height: 39px; cursor: pointer;" name="super_user">
                    </li>

                    <li>
                        <span class="info-label">Password</span>
                        <input type="password" class="info-value" name="password">
                    </li>

                    <li>
                        <span class="info-label">Confirm Password</span>
                        <input type="password" class="info-value" name="confirm_password">
                    </li>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <li>
                        <input type="submit" class="tagadd-contentbtn" id="tagadd-contentsub" value="Save Changes">
                        <button class="tagadd-contentbtn" id="tagadd-contentclose" type="button">Close</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>

    <div id="tagedit-overlay">
        <div class="progress-box-user">
            <form action="{% url 'admin_user_edit' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="" id="user_id">
                <ul class="info-list">

                    <li>
                        <span class="info-label">First Name</span>
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </li>
                    <li>
                        <span class="info-label">Last Name</span>
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </li>
                    <li>
                        <span class="info-label">Email</span>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </li>

                    <li>
                        <span class="info-label">Staff</span>
                        {{ form.is_staff }}
                    </li>
                    <li>
                        <span class="info-label">Super User</span>
                        {{ form.is_superuser }}
                    </li>

                    <li>
                        <span class="info-label">Last Login</span>
                        <span style="line-height: 39px;" id="user_lastlogin">{{ last_login_time }}</span>
                    </li>

                    <li>
                        <input type="submit" class="tagadd-contentbtn" id="tagadd-contentsub" value="Save Changes">
                        <button class="tagadd-contentbtn" id="tagedit-contentclose" type="button">Close</button>
                    </li>
                </ul>

            </form>
        </div>

    </div>

    <script>
        $().ready(function () {
            $("#add_tag").click(function () {
                $("#tagadd-overlay").css('display', 'flex');
            })

            $("#tagadd-contentclose").click(function () {
                $("#tagadd-overlay").css('display', 'none');
            })

            $("#tagedit-contentclose").click(function () {
                $("#tagedit-overlay").css('display', 'none');
            })

            $(".admin-btn-edit").click(function () {
                var $item = $(this).closest('.admin-user-list-item');

                // 2. 在父容器内查找对应的数据元素
                // 使用 .find() 结合 data-label 属性或者是类名、位置来定位
                // 注意：这里使用了 .text().trim() 来获取文本并去除可能存在的首尾空格
                var user_id = $item.find('div[data-label="id"]').text().trim();
                var FName = $item.find('span[data-label="fname"]').text().trim();
                var LName = $item.find('span[data-label="lname"]').text().trim();
                var Email = $item.find('div[data-label="email"]').text().trim();
                var LastLogin = $item.find('input[data-label="lastlogin"]').val().trim();
                var Staff = $item.find('div[data-label="staff"] input').val().trim();
                var Superuser = $item.find('div[data-label="superuser"] input').val().trim();

                var isStaff = (Staff === 'True');
                var isSuperuser = (Superuser === 'True');

                $("#tagedit-overlay").css('display', 'flex');
                $("#user_firstname").val(FName);
                $("#user_lastname").val(LName);
                $("#user_email").val(Email);
                $("#user_id").val(user_id);
                $("#user_staff").prop('checked', isStaff);
                $("#user_superuser").prop('checked', isSuperuser);
                $("#user_lastlogin").text(LastLogin);
            })
        })
    </script>
{% endblock %}